body,
html {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    background-color: #fbf9f8;
}


.site-header {
    background-color: #fbf9f8;
    text-align: left;
}


.graphs-container {
    display: flex;
    flex-wrap: wrap;
}

.graph {
    flex: 1;
    min-width: 300px;
    max-width: 50%;
    padding: 10px;
    box-sizing: border-box;
}


canvas {
    width: 100%;
    height: 350px;
}

/* Navbar */
#navbar-data {
    position: fixed;
    z-index: 1000;
    top: 48px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 161px;
    /* 135px */
    /* height: 100%; */
    height: 100vh;
    background-color: #958694;
    overflow-y: auto;
}

#navbar-data .menu {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navbar-data .nav-link {
    display: block;
    text-decoration: none;
    color: #f1e6e4;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

.nav-header {
    font-weight: bold;
    color: #f1e6e4;
    padding: 8px 15px;
    cursor: default;
    text-align: center;
}

#navbar-data .nav-link:hover {
    background-color: #776a76;
}

#navbar-data .nav-link.active {
    background-color: #776a76;
}

/* Styling the navigation bar */
.topnav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
    max-height: 48px;
    height: fit-content;
    color: #f1e6e4;
    background-color: #958694;
    overflow-x: auto;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
    .nav-link {
        display: block;
    }
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #776a76;
    color: #f1e6e4;
}

.topnav a.active {
    background-color: #776a76;
    color: #f1e6e4;
}

.topnav #logo-container {
    padding: 0;
    margin-right: auto;
}

.topnav #logo-container img {
    max-height: 48px;
    width: auto;
    vertical-align: middle;
}

.graph-container-margin {
    padding-top: 48px;
    margin-left: 161px;
    /* 135px */
}

/* Graph container */
.graph-container {
    position: relative;
    z-index: 0;
    padding: 0;
    margin: 0;
    height: 90vh;
}

/* Reset Zoom button */
.controls {
    display: flex;
    align-items: center;
    /* Ensures vertical alignment is centered */
    gap: 10px;
    margin-left: 10px;
    /* Provides space between the button and the text */
}

#resetZoomBtn {
    padding: 5px 10px;
    background-color: #958694;
    color: #f1e6e4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggleRadiusBtn {
    padding: 5px 10px;
    background-color: #958694;
    color: #f1e6e4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#zoomInfoText {
    color: black;
    font-size: 0.9em;
}

.download-hover {
    height: 28.55px;
    width: 24.667px;
}

.download-hover:hover {
    background-color: #776a76;
    color: #f1e6e4;
    text-decoration: none;
    height: 28.55px;
    width: 24.667px;
}

#timeSlider {
    z-index: 1000;
    width: 50px;
}